<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/'">
    <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="pl-3">5hops</span>
  </a>
  <nav class="nav">
    <button type="button" class="btn btn-link p-0 m-0 pl-1 pr-1" 
      *ngFor="let h of hops"
      [routerLink]="['/', 'continuous', h.id]"
      [ngClass]="[(h == h.id) ? 'text-info' : 'text-light', (article == '' && hop == h.id) ? 'disabled' : '']">
      {{h.name}}
    </button>
    <span class="text-light">|</span>
    <button type="button" class="btn btn-link p-0 m-0 pl-1 pr-1 text-light" [routerLink]="'/faq'">FAQ</button>
  </nav>
</nav>
