<footer class="footer bg-dark text-info p-1 pr-4 pl-4">
  <div class="container-fluid bk-info">
    <div class="row">
      <div class="col-4">
        <small><a class="text-secondary" href="https://github.com/project-talan/5hops.net">Github</a></small>
      </div>
      <div class="col-4 text-center">
        <small><a class="text-white" [routerLink]="'/faq'">FAQ</a></small>
      </div>
      <div class="col-4 text-right">
        <small class="align-middle float-right mt-1 text-secondary">v18.12.0</small>
      </div>
    </div>
  </div>
</footer>
