<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid bg-dark text-light">
  <div class="container">
    <h1 class="display-5 text-center">Any <span class="text-info">authorized</span> person should be able to <span class="text-info">deploy</span> version into production in <span class="text-info">one</span> click</h1>
    <p class="lead text-right text-info">and we must be brave enough to face this challenge</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 p-3" *ngFor="let section of sections; let i = index">
      <div class="media p-2">
        <img class="mr-3" [attr.src]="'assets/img/' + section.image" alt="Generic placeholder image" style="width:48px;height:48px;">
        <div class="" alt="Generic placeholder image" width="64px" height="64px"></div>
        <div class="media-body">
          <h5 class="mt-0">{{i+1}}<sup>{{section.sup}}</sup> hop - {{section.title}}</h5>
          <p class="font-weight-bold">{{section.description}}</p>
          <ul class="list-group ml-2">
            <li class="list-group-item border-0 p-0" *ngFor="let subSection of section.subSections">{{subSection.title}}</li>
          </ul>
          <ul class="list-group mr-5 text-right">
            <li class="list-group-item border-0 m-0 p-0 mr-5" *ngFor="let link of section.links"><small><a [attr.href]="link.ref">{{link.title}}</a></small></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 p-3 text-center">
      <img src="assets/img/general-picture.png" class="img-fluid shadow">
    </div>
  </div>
</div>
<app-footer></app-footer>
