<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 p-4">
      <form>
        <div class="form-group">
          <label for="inputQuery">Type your</label>
          <input type="text" class="form-control" id="inputQuery" aria-describedby="queryHelp" placeholder="query">
          <small id="queryHelp" class="form-text text-muted">... or switch to the full TOC</small>
        </div>
        <!--button type="submit" class="btn btn-primary">Submit</button-->
      </form>
    </div>
  </div>
</div>
